<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
{#<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<body>
<div id="app">
    <el-container>
        <el-header>
            <el-row :gutter="20">
                <el-col :span="8"><div class="grid-content bg-purple">
                    <a href="/index"><span>Banana car</span></a></div></el-col>
                <el-col :span="8"><div class="grid-content bg-purple">
                    <div style="margin-top: 15px;">
                        <el-input v-model="input" placeholder="Please enter content query" prefix-icon="el-icon-search" class="input-with-select">
                            <el-button slot="append" icon="el-icon-search" @click="search()"></el-button>
                        </el-input>
                    </div>

                </div></el-col>


                <el-col :span="8"><div class="grid-content bg-purple">
                <div class="grid-content bg-purple">

                    {% if g.user %}
                        <span>{{ g.user['username'] }}</span>
                        <el-link href="{{ url_for('item.hopes') }}" style="float:right">
                            <el-button type="primary" icon="el-icon-present">Hopes</el-button>
                        </el-link>
                        <el-link href="{{ url_for('item.shopping') }}" style="float:right">
                            <el-button type="primary" icon="el-icon-present">Shopping Cart</el-button>
                        </el-link>
                        <el-link href="{{ url_for('item.paylist') }}" style="float:right">
                            <el-button type="primary" icon="el-icon-present">pay list</el-button>
                        </el-link>
                        <el-link href="{{ url_for('auth.logout') }}" style="float:right">
                            <el-button type="primary" icon="el-icon-present">Log Out</el-button>
                        </el-link>
                    {% else %}

                        <el-link href="{{ url_for('auth.register') }}" style="float:right">
                            <el-button type="primary" icon="el-icon-present">register</el-button>
                        </el-link>
                        <el-link href="{{ url_for('auth.login') }}" style="float:right">
                            <el-button type="primary" icon="el-icon-present">Log In</el-button>
                        </el-link>
                    {% endif %}
                </div></div></el-col>
            </el-row>

        </el-header>
        <el-main>

            <section class="content">
                <header>
                    {% block header %}  {% endblock %}
                </header>
                {% block banner %}
                <div class="block">
                    <el-carousel height="400px">
                        <el-carousel-item>
                            <img src="{{ url_for('static', filename="big1.jpg") }}" style="height: 400px;width: 100%;background-size: cover" />
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{ url_for('static', filename="big2.jpg") }}" style="height: 400px;width: 100%;background-size: cover" />
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{ url_for('static', filename="big3.jpg") }}" style="height: 400px;width: 100%;background-size: cover" />
                        </el-carousel-item>
                        <el-carousel-item>
                            <img src="{{ url_for('static', filename="big4.jpg") }}" style="height: 400px;width: 100%;background-size: cover" />
                        </el-carousel-item>
                    </el-carousel>
                </div>
                {% endblock %}
                <el-divider></el-divider>
                {% for message in get_flashed_messages() %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}

            </section>
        </el-main>
        <el-footer></el-footer>
    </el-container>
</div>
</body>


<script src="{{ url_for('static', filename='vue.js') }}"></script>
<!-- import JavaScript -->
<script src="{{ url_for('static', filename='index.js') }}"></script>
<script src="{{ url_for('static', filename='vue-resource.min.js') }}"></script>
<script>
    new Vue({
        el: '#app',
        delimiters: ['{[', ']}'],
        data: function () {
            return {
                input:'',
                visible: false,
                isactive: false,
                drawer: false,
                showpicture: false,
                picurl: "",
                direction: 'rtl',
                showiteminfo: {},
                activeNames: 1,
                textarea: '',
                count: 0,
                comments: [],
                payactive: false,
                active: 0,
                select_pay_id: 0,
                shoppingitems: [],
                cardinfo: {
                    num: '',
                    password: '',
                    checkpassword: '',
                    price: '',
                },
                payinfo: {
                    id: '',
                    phone: '',
                    address: '',
                    realname: '',
                },
                rules: {
                }
            }
        },
        methods:{
            generate_pdf(info) {
                this.$http.post('/pdf',{'info': info}).then(function(res){
                    console.log(res)
                    if (res.body['result']) {
                        this.picurl = res.body['msg'];
                        this.showpicture = true;
                    } else {
                        this.$notify.error({
                            title: 'error',
                            message: res.body['msg']
                        });
                    }
                },function(res){
                    console.log(res.status);
                });

            },
            select_info( post ){
              this.select_pay_id = post['id'];
              this.payinfo['phone'] = post['phone'];
              this.payinfo['address'] = post['address'];
              this.payinfo['realname'] = post['realname'];
              this.payactive = true;
            },
            search(){
                window.location.href="/search?info="+this.input
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            submitForm(formName) {
                this.$http.post('/pay',{'cardinfo': this.cardinfo}).then(function(res){
                    console.log(res)
                    if (res.body['result']) {
                        this.isactive = false;
                    } else {
                        this.$notify.error({
                            title: 'error',
                            message: res.body['msg']
                        });
                    }
                },function(res){
                    console.log(res.status);
                });

            },
            submitupdateForm(formName) {
                this.payinfo['id'] = this.select_pay_id
                this.$http.post('/add_address',{'info': this.payinfo}).then(function(res){
                    console.log(res)
                    if (res.body['result']) {
                        this.payactive = false;
                        location.reload()
                    } else {
                        this.$notify.error({
                            title: 'error',
                            message: res.body['msg']
                        });
                    }
                },function(res){
                    console.log(res.status);
                });

            },
            deleteorder(iteminfo){
                this.$http.post('/deleteorder',{"item":iteminfo}).then(function(res){
                    location.reload()
                },function(res){
                    console.log(res.status);
                });
            },
            deletehope(iteminfo){
                this.$http.post('/deletehope',{"item":iteminfo}).then(function(res){
                    location.reload()
                },function(res){
                    console.log(res.status);
                });
            },
            next() {
                if (this.active++ === 0 ) {
                    this.isactive = true;
                };
                if (this.active === 2 ) {
                    location.reload()
                };
                if (this.active > 2) this.active = 0;

            },
            addshopping(iteminfo){
                this.$http.post('/addshopping',{"item":iteminfo}).then(function(res){
                    console.log(res)
                    window.location.href='/shopping';
                },function(res){
                    console.log(res.status);
                });
            },
            addhopes(iteminfo){
                this.$http.post('/addhopes',{"item":iteminfo}).then(function(res){
                    console.log(res)
                    window.location.href='/hopes';
                },function(res){
                    console.log(res.status);
                });
            },
            get_picture_url(name){
                return "/static/"+name
            },
            showdetail(iteminfo){
                this.$http.post('/getcomment',{"item":iteminfo}).then(function(res){
                    console.log(res)
                    this.comments = res.body
                },function(res){
                    console.log(res.status);
                });
                this.showiteminfo = iteminfo
                this.drawer = true
            },
            handleClose(done) {
                this.$confirm('Are you sure to close？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },
            templateget:function(){
                this.$http.get('/try/ajax/ajax_info.txt', {params:{a:1, b:2}}).then(function(res){
                    document.write(res.body);
                },function(){
                    console.log('error');
                });
            },
            addcomment:function(){
                this.$http.post('/createcomment',{"item": this.showiteminfo, "comment": this.textarea }).then(function(res){
                    console.log(res)
                    this.comments.push(res.body)
                },function(res){
                    console.log(res.status);
                });
            }

        }
    })
</script>

<style>
    .el-row {
        margin-bottom: 20px;
        &:last-child {
             margin-bottom: 0;
         }
    }
    .el-col {
        border-radius: 4px;
    }

    .bg-purple-dark {
        background: #99a9bf;
    }

    .bg-purple {
        background: #f9fafc;
    }

    .bg-purple-light {
        background: #e5e9f2;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
    }

    .row-bg {
        padding: 10px 0;
        background-color: #f9fafc;
    }
    .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
     background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
     background-color: #d3dce6;
  }
</style>